body {
  margin: 0;
  color: white;
  background-color: #242936;
}

.wrap {
  margin: 0 auto;
  padding: 16px;
  max-width: 400px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
}

.date { }
.this { }
.prev, .next { color: #515151; }
.date:hover, .active { box-shadow: inset 0 0 4px #fff }

.calendar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #444444;
}

.calendar-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 40px);
  gap: 1px;
}

/*
list
*/

.todo-form {
  display: flex;
  flex-direction: column;
}


